.c-checkbox {
  @include fz(16);

  display: flex;
  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
  label {
    position: relative;
    display: flex;
    cursor: pointer;
    &::before {
      content: "";
      width: 24px;
      height: 24px;
      border: 1px solid $green;
      border-radius: 4px;
      display: inline-block;
      left: -24px;
    }
    &::after {
      content: "";
      width: 16px;
      height: 10px;
      border-left: 3px solid #00ad79;
      border-bottom: 3px solid #00ad79;
      position: absolute;
      top: 5px;
      left: 4px;
      opacity: 0;
    }
  }
  span {
    margin-left: 8px;
  }
  .c-checkbox__trigger {
    margin-right: 8px;
    @media (max-width: 767px) {
      margin-bottom: 8px;
    }
    label {
      height: 38px;
      background: $inputColor;
      color: $green;
      @include fz(14);

      padding: 8px 16px;
      border-radius: 110px;
      &::before,
      &::after {
        display: none;
      }
    }
    input[type="checkbox"]:checked + label {
      background: $green;
      color: $white;
    }
    span {
      margin: 0;
    }
  }
}
