.c-modal__overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  &.is-opened {
    visibility: visible;
    opacity: 1;
  }
  .c-modal__box {
    max-width: 720px;
    width: 100%;
    max-height: 560px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    .c-modal__box__content {
      padding: 60px;
      max-height: 550px;
      overflow: hidden;
      ul {
        max-height: 450px;
        overflow: scroll;
        li {
          @include fz(14);

          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding-top: 16px;
          padding-bottom: 16px;
          .c-modal__box__content__btn {
            width: 100%;
            display: block;
            padding: 0;
            text-align: left;
            color: $purple;
            span {
              &:first-child {
                margin-right: 20px;
              }
            }
          }
        }
      }
      .c-modal__box__content__delete {
        text-align: center;
        .c-modal__box__content__delete__title {
          @include fzb(26);
        }
        .c-modal__box__content__delete__item {
          margin-top: 40px;
          &--btn {
            width: 168px;
            height: 48px;
            @include fz(14);

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            &.cancel {
              color: $purple;
              border: 1px solid $purple;
            }
            &.delete {
              background: $purple;
              color: $white;
            }
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
  .c-modal__closeBtn {
    width: 16px;
    height: 16px;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
  }
}
