.c-step {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;
  .c-step__content {
    padding: 0;
    margin: 0;
    position: relative;
    counter-reset: step;
    display: flex;
    flex-direction: row;
    .c-step__content__item {
      width: 25%;
      border-left: none;
      text-align: center;
      position: relative;
      padding-top: 30px;
      color: $green;
      @media (max-width: 767px) {
        padding-top: 20px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $green;
        top: 0;
        left: -50%;
        z-index: -1;
      }
      &:first-child {
        &::before {
          content: none;
        }
      }
      .c-step__content__item__indicator {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $white;
        border: 1px solid $green;
        color: $green;
        @include fzb(20);

        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%,-50%);
        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
          @include fzb(16);
        }
      }
      &.active {
        .c-step__content__item__indicator {
          color: $white;
          background: $green;
        }  
      }
      .c-step__content__item__title {
        position: relative;
      }
    }
  }
}