.c-title__large {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .c-title__large__text {
    position: absolute;
    @include fzb(19);
    font-family: "source-han-serif-japanese", serif;
  }
}
.c-title__middle {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .c-title__middle__text {
    position: absolute;
    @include fzb(16);
    font-family: "source-han-serif-japanese", serif;
  }
}
.c-title__small {
  width: 100%;
  .c-title__small__text {
    @include fzb(16);
    border-left: 4px solid #bda055;
    padding-left: 5px;
    font-family: "source-han-serif-japanese", serif;
  }
}
.c-title__background{
    background: url('../images/title_background_icon_01.png')no-repeat ,url('../images/title_background_icon_02.png')no-repeat,url('../images/title_background_icon_04.png')no-repeat,url('../images/title_background_icon_03.png') no-repeat;
    background-position: left top,right top,right bottom,left bottom;
    background-color:#F5F4FC;
    padding: 10px;
    background-size: 18px 18px;
    text-align: center;
    border: 3px solid #F5F4FC;
    .c-title__background__text{
      @include fzb(18);
    }
    .c-title__background__tel{
      @include fzb(18);
      letter-spacing: 2px;
    }

}
