.c-upload {
  width: 100%;
  .c-upload__text {
    @include fzb(18);

    margin-bottom: 10px;
  }
  .c-upload__label {
    width: 160px;
    height: 32px;
    border: 1px solid $green;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fz(14);

    color: $green;
    cursor: pointer;
    &:hover {
      color: $white;
      background: $green;
    }
  }
  .c-upload__name {
    margin-top: 5px;
  }
}
