.l-main {
  width: 100%;
  max-width: 498px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
  @media (max-width: 480px) {
    margin-top: 50px;
  }
  .l-main__content {
    width: 100%;
  }
}
